.login_style {
    width: 30%;
    padding: 8px 18px;
    margin: 8px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.5
}
.login_style:focus {
    opacity: 1;
}
.align_center {
    position: relative;
    left: 383px;
}

.align_remember {
    position: relative;
    left: 383px;
    display: inline;
}

.login_btn {
    width: 30%;
    background-color: Green;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login_btn:hover {
    opacity: 0.8;
}

.signup_btn {
    width: auto;
    color: white;
    padding: 10px 18px;
    border: none;
    background-color: #ff1a1a;
    border-radius: 4px;
    cursor: pointer;
    opacity: 1
}

.signup_btn:hover {
    opacity:0.8;
}

.img_container {
    text-align: center;
    margin: 24px 00 12px 0;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 10px;
}

.fb {
    background-color: #3B5998;
    color: white;
    margin-left: 120px;
}

.twitter {
    background-color: #55ACEE;
    color: white;
    margin-left: 150px;
}

.google {
    background-color: #ff3300;
    color: white;
    margin-left: 180px;
}

.btn_login {
    width: 25%;
    padding: 10px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left
}
